.formContainer {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: start;
}

.form {
    max-width: 1000px;
    padding: 2em 1em 2em 1em;
    background-color: #a39393;
    border: 2px solid black;
    border-radius: 1.5em;
}

.button {    
    margin-top: 10px;
}
